// Font weights
$book: 400;
$medium: 500;
$semi-bold: 600;

// Base Font
$base-font-family: "freight-sans-pro",sans-serif;
$base-font-weight: $book;
$base-font-size: 16px;
$base-line-height: 1.4;

// font-sizes
$h1: 2.688em; // 43px
$h2: 1.953em; // 31px
$h3: 1.563em; // 25px
$h4: 1.25em;  // 20px
$h5: 1em;     // 16px
$h6: 0.8em;   // 13px

// gray/utility colors
$darker-blue: #182538;
$dark-blue:   #4E6170;
$blue-gray:   #B8C7CC;
$gray:        #D0D4D6;
$bg-color:    #F2F2F2;
$white:       #FFFFFF;

// accent colors
$red:         #E14256;
$accent:      #F37021;

//
$blue-gray-hover: #A1AEB3;

// other variables
$border-radius: 3px;
$button-padding: 12px;
$border-size: 1px;
$button-outline-padding: ($button-padding - $border-size);
