.button, input[type="submit"] {
   font-weight: $semi-bold;
   border-radius: $border-radius;
   text-transform: uppercase;
   font-size: $h6;
   background-color: none;
   min-width: 60px;
   text-decoration: none;
   display: inline-block;
   text-align: center;
   font-family: $base-font-family;

   &.primary { 
      background-color: $accent;
      color: $white;
   }
   &.solid {
      padding: $button-padding ($button-padding * 1.25);
   }
   &.outline {
      border: $border-size solid $blue-gray; 
      color: $dark-blue;
      padding: $button-outline-padding ($button-outline-padding * 1.25);

      &:hover {
         border: 2px solid $blue-gray-hover;
         padding: 10px 13px; // TODO: clean this up
      }
      &:active {
         border-color: $dark-blue;
      }
   }
}
input[type="submit"] {
   margin-top: 30px;
}