body {
    background-color: #f8f8f8;
}

.content-wrapper {
    margin: 0 auto;
    padding: 60px 0px 60px;

    .center {
        text-align: center;
    }
}

.max-width {
    max-width: 1024px;
    margin: 0 auto;
}
.center {
    text-align: center;
}

.bg-gray {
    background-color: $bg-color;
}

.bg-dark-blue {
    background-color: $darker-blue;
}
.bg-white {
    background-color: $white;
}

.l-box {
    padding: 0px 20px;
}
.vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 375px;

    @media screen and (min-width: 35.5em) {
        // height: 300px;
    }
}
// specific sections >.>

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: 130px auto;
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    text-align: center;

    .cta {
        font-size: $h4;
        font-weight: $medium;
        color: $accent;
        text-decoration: none;

    }
}
.splash-image {
    background-image: url(/images/hero.jpg) ;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    width: 100%;
    height: 615px;
}

.splash-head {
    margin: 0px 0px 5px 0px;
}

.splash-subhead {
    color: $dark-blue;
    font-weight: $medium;
    margin: 0px 0px 40px 0px;
}

.features {

    .comm {
        max-width: 492px; 
    }
}
.section {
    max-width: 1024px;
    margin: 0 auto;
    min-height: 200px;
    padding: 60px 0px;
    border-bottom: 3px solid $bg-color;

    &:last-child {
        border-bottom: 0px;
    }
}

.stats {
    text-align: center;
    padding-bottom: 60px;

    .l-box {
        padding-top: 0px;
    }

    .svg { 
        height: 60px;
        margin-bottom: 30px;
    }

    .wait-time {
        max-width: 72px;
    }
    .cancellations {
        max-width: 83px;
    }
    .referrals {
        max-width: 61px;
    }
    .lost-revenue {
        max-width: 100px;
    }
}
.testimonials {
    background-color: #DBECF2; // sky-ish blue

    //div[class^="pure-u-"] { margin-bottom: 20px; }
    
    .l-box {
        padding: 30px;
    }
    .avatar { border-radius: 50px;}

    .vertical-center {
        height: 90px;
    }
    .bg-white { margin-bottom: 20px; }
    .margin-right { margin-right: 20px; }
}

.contact {
    // basically overriding pure styles
    form {
        margin-top: 20px;
    }
    input, textarea { 
      box-shadow: none !important;
      border-radius: 3px !important;
      border: 1px solid $bg-color !important;
      padding: $button-padding ($button-padding * 1.25) !important;

      &:focus {
        border: 1px solid $accent !important;
      }
   }
    .max-width {
        max-width: 800px;
    }

    .l-box { padding: 0px 20px 10px; }
}
.partners {
    .max-width{
        max-width: 640px;
    } 
    .logo {
        text-align: center;
    }
    .hipaa { opacity: 0.5; }
    .himss, .stanford, .mgma { 
        opacity: 0.4;
    }
    .stanford { margin-top: 6px; }
    .hipaa    { margin-top: 3px; }

}
