.pure-menu .pure-menu-fixed {
  border-bottom: none;
  z-index: 4; }

.home-menu {
  text-align: center; }
  .home-menu a.svg {
    position: relative;
    display: inline-block;
    width: 145px;
    height: 27px; }
    .home-menu a.svg:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  .home-menu object {
    width: 100%; }

@media (min-width: 48em) {
  .home-menu {
    text-align: left; }
    .home-menu ul {
      float: right; } }
